<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/index.css">
  <title>Document</title>
</head>

<body>
  <form class="fileUpload">
    <input type="file" class="fileElem">
    <ul class="fileList">
      
    </ul>
    <label class="fileSelect">Upload File</label>
    <button id="submit">Submit</button>
    {{!-- <h4>Usage</h4>
    <progress value="40" max="100"></progress> --}}
    <p id="imageUrl">Зураг Upload хийгээрэй (<a href="#" class="upgrade">Upgrade</a>)</p>
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const fileSelect = document.querySelector('.fileSelect');
    const fileElem = document.querySelector('.fileElem');
    const submit = document.querySelector('#submit');
    const imageUrl = document.querySelector('#imageUrl');
    const fileList = document.querySelector('.fileList');
    var formData = new FormData();
    submit.style.display = 'none';

    fileSelect.addEventListener('click', (e) => {
      if (fileElem) {
        fileElem.click();
      }
      e.preventDefault(); // prevent navigation to "#"
    }, false);
    fileElem.addEventListener('change', (e) => {
      if(fileElem.files.length < 1) {
        fileList.innerHTML = '';
        submit.style.display = 'none';
        return;
      }
      fileList.innerHTML = `<li>${e.target.files[0].name}</li>`;
      submit.style.display = 'block';
      formData.append('file', e.target.files[0]);
    }, false);

    submit.addEventListener('click', (e) => {
      submit.disabled = true;
      axios.post('/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((res) => {
        imageUrl.innerHTML = `<a class="resultLink" href="${res.data.imgLink}" target="_blank">${res.data.imgLink}</a>
          <img width="100%" src="${res.data.imgLink}" alt="image" class="resultImg">;
        `;
        console.log(res);
      }).catch((err) => {
        console.log(err);
      }).finally(() => {
        submit.disabled = false;
      });
      e.preventDefault();
    });
  </script>
</body>

</html>